<nav class="category-menu" aria-label="Categorías de productos">
    <ul class="category-list">
        <li><a href="/category/electronica">Electrónica</a></li>
        <li><a href="/category/alimentos">Alimentos</a></li>
        <li><a href="/category/bebidas">Bebidas</a></li>
        <li><a href="/category/indumentaria">Indumentaria</a></li>
        <li><a href="/category/juegos">Juegos</a></li>
        <li><a href="/category/automotor">Automotor</a></li>
        <li><a href="/category/hogar">Hogar</a></li>
        <li><a href="/category/otros">Otros</a></li>
    </ul>
</nav>
